/* ---------- fonts ---------- */
.alegreya-400 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .alegreya-500 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .alegreya-600 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .alegreya-700 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .alegreya-800 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .alegreya-900 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    font-size:16px;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ---------- globals ---------- */
html {
    max-width:800px;
    height:100%;
}

/* ----- header ----- */
.header {
    border: 1px solid blue;
    margin-left:20px;
    display:flex;
    justify-content:space-between;
    padding: 20px;
}
.header h1 {
    display: inline-block;
    font-family: "Alegreya", serf;
    font-size:36px;
}

.header div {
    display:flex;
    align-items:flex-end;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display:inline-flex;
}

.header div ul li::before {
    padding-left:10px;
    padding-right:10px;
    content: "|";
}

.header div ul li:first-child::before {
    content:none;
}

/* ----- sidebar ----- */
.sidebar {
    border:1px solid red;
    margin-left:20px;
    max-width:200px;
    min-width:200px;
    padding:20px;
    text-align:center;
}
.sidebar h2 {
    text-transform:lowercase;
    font-variant:small-caps;
    font-size:24px;
    letter-spacing:.40rem;
}

.sidebar div {
    border:1px solid black;
}

.sidebar div p {
    padding-bottom:20px;
    /* margin-bottom:20px; */
}

.sidebar div p::after {
    text-align:center;
    content:"";
    display:block;
    padding-bottom:20px;
    margin:0 40px;
    border-bottom:1px solid black;
}

.sidebar a {
    text-decoration:none;
}