:root {
    --myGray: #ddd;
}
    /* ---------- universal ---------- */
  * {
    font-family:"Alegreya", serif;
    font-size:16px;
    font-weight:400;
    line-height: 135%;
    color:black;
}

body {
    padding-bottom:56px;
}

html {
    min-width:300px;
}

.container {
    display:flex;
    column-gap:20px;
    row-gap:20px;
    margin:40px 20px 0px 20px;
}

h1 {
    flex:0 0 auto;
    font-family:"Alegreya", serif;
    font-size:36px;
    font-weight:700;
}

h2 {
    font-family:"Alegreya SC", serif;
    font-size:24px;
    font-weight:400;
    text-transform:lowercase;
    color:#555;
    letter-spacing:.40rem;
    padding:10px 0;
    white-space:nowrap;
}

/* This hack adds the rule below the projects h2 head. */
h2::after {
    display:block;
    content:"";
    max-width:75px;
    margin:0 auto;
    padding-bottom:20px;
    border-bottom:1px solid #777;
}

p {
    margin-bottom:10px;
}

ul {
    padding-left:20px;
}
li {
    text-indent:-20px;
}

a {
    text-underline-offset:.5em;
}

@media screen and (max-width:525px) {
    header h1, header nav, .container .portrait, .container h2  {
        display:block;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

    .container {
        flex-wrap:wrap;
    }
 }

/* ---------- name and nav ---------- */
header {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:baseline;
    margin:0px 20px;
}

nav {
    display:flex;
    flex-wrap:nowrap;
    column-gap:20px;
}

nav p {
    flex:1 1 auto;
    display:inline-flex;
}

nav a:hover {
    font-weight:700;
    text-shadow:0 0 10px orangered;
    cursor:pointer;
}

/* ---------- about ---------- */
.portrait {
    display:block;
    text-align:center;
    width:152px;
}
p img {
    margin-top:30px;
    width:100px;
    height:auto;
    align-self:flex-start;
}

.item1 {grid-column: narrative;}
.item2 {grid-column: category;}
.item3 {grid-column: description;}
 
.quals {
    display:grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "narrative narrative"
        "category description"
        "category description";
    row-gap: 10px;
    column-gap:20px;
    width:100%;
    padding:20px;
    background-color:var(--myGray);
    border-radius:10px;
}

.quals h3 {
    font-family:"Alegreya SC", serif;
    font-weight:500;
    text-transform:lowercase;
    letter-spacing:.20rem;
    margin-top:20px;
}

.quals h3:first-child {
    margin-top:0;
}

/* ---------- projects ---------- */
.panels {
    display:flex;
    flex-wrap:wrap;
    flex:1 1 auto;
    justify-content:center;
    align-items:left;
    row-gap:20px;
    column-gap:20px;
}

.panel {
    text-align:center;
    flex:1 1 auto;
    background-color:var(--myGray);
    border-radius:10px;
    padding:20px;
}

.panel:hover {
    box-shadow:0 0 10px orangered;
}

/*As a designer, not a fan of having one panel be larger than the others, but it meets the brief. */
.panels div:first-child {
    flex:1 1 100%;
}

.panel img {
    width:100px;
    box-shadow:0px 12px 12px 0px #999;
}

.panels div:first-child img {
    width:100%;
    height:100px;    
    object-fit:cover;
    object-position: 0% 0%;
}

.panel h3 {
    margin-bottom:10px;
}

/* This hack adds the rule below the project titles. */
.panel h3::after {
    border-bottom:1px solid black;
    content:"";
    display:block;
    max-width:40px;
    margin:0 auto;
    padding-bottom:10px;
}

.panel a {
    text-decoration:none;
}
/* ---------- addresses ---------- */
.contact {
    display:block;
    background-color:var(--myGray);
    border-radius:10px;
    padding:20px;
    width:100%
}

.contact a {
    text-decoration:none;
}

.contact a:hover {
    font-weight:700;
    text-shadow:0 0 10px orangered;
    cursor:pointer;
}

/* ----- footer ----- */
footer p {
    font-family:"Alegreya Sans", sans-serif;
    font-size:12px;
    margin-left:20px;
    margin-bottom:0px;
    padding:20px 20px 20px 20px;
    width:100%;
    position:fixed;
    background-color:white;
    bottom:0;
}